@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: blanchedalmond;
}
.links{
    display: inline;
}
.links a{
    text-decoration: none;
    font-family: "Montserrat" , sans-serif ;
    font-size: x-large;
    padding-left: 4px;
    padding-right: 4px;
    border: solid black;
    opacity: .7;
    transition: .4s;
}

.links a:hover{
    opacity: 1;
    transition: .4s;
    font-size: 40px;
}
.rounded{
    border-radius: 5px;
}

.skyblue{background-color: cadetblue; color:azure}
.lightpink{background-color: indianred; color:rgb(245, 213, 212)}
.pink{background-color:pink ; color: rgb(204, 75, 124);}
.lightpurple{background-color: plum; color:rgb(112, 60, 112)}